<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div class="navbar" role="navigation">
        <div class="nav-wrapper">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Doggolingo</a>
            </div>
            <div class="nav-links">
                @if (!User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Register", "Register", "Account")
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Login", "Login", "Account")
                }
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Log Out", "LogOff", "Account")
                    @Html.ActionLink("Profile", "Index", "DogParents")
                }
            </div>
        </div>
    </div>
</body>

</html>