@{
    ViewData["Title"] = "Module Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.markComplete').click(function () {
            var moduleId = $(this).val();
            console.log(moduleId);
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Action("MarkComplete", "Modules")',
                data: { moduleId },
                success: function (result) {
                }
            });
        });
    });
</script>


@model Doggolingo.Models.Lesson

<h2>@Model.Title</h2>
<hr />
@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
<br />
@Html.DisplayNameFor(model => model.Module): @Html.DisplayFor(model => model.Module.Title)

<h4>Steps:</h4>
<ol>
    @foreach (var step in Model.Steps)
    {
        <li>@step.Description</li>
    }
</ol>

<button class="markComplete" data-id=model.Module.ModuleId>Finish!</button>

<p>@Html.ActionLink("Back to list view", "Index")</p>